* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/***************+++Header-CSS*****************/

header {
    display: flex;
    flex-flow: column;
    width: 1440px;
    height: 660px;
    margin: 0 auto;
    background-image: url(applepage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 0 auto;
    margin-top: 80px;
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
}

nav span {
    cursor: pointer;
    width: 105px;
    height: 36px;
    height: 100%;
    border-right: 1px solid #4c4c4c;
    border-top: 1px solid #686868;
    border-bottom: 1px solid #686868;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: #e9eaeb;
    background-image: linear-gradient( #626262 50%, #808080 50%);
}

nav span:hover {
    background-image: linear-gradient( #333333 50%, #555555 50%);
    border-right: 1px solid #999999;
}

nav span:nth-child(1) {
    border-radius: 4px 0 0 4px;
    border-left: none;
}

nav span:nth-child(9) {
    width: 150px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    border-right: none ;
}

nav span:nth-child(9):hover {
    background-image: linear-gradient( #626262 50%, #808080 50%);

}

.search {
    cursor: text;
    display: flex;
    align-items: center;
    width: 120px;
    height: 20px ;
    background-image: linear-gradient( #6e6e6e 50%, #828282 50%);
    border-radius: 10px;
    border: 1px solid #4c4c4c;
}

nav i {
    margin-left: 10px;
}

header h1 {
    font-weight: 100;
    font-size: 50px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
}

header h2 {
    font-weight: 100;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

header h3 {
    font-weight: 100;
    font-size: 25px;
    color: white;
    margin: 0 auto;
    margin-top: 40px;
}

header h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

/**************Section******************/

section {
    display: flex;
}

section div {
    margin: 0 auto;
    margin-top: 2px;
}

section img {
    cursor: pointer;
}

/************footer***************/

footer{
    margin: 0 auto;
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

footer span {
    font-size: 12px;
    color: #cccccc;
}

.blue {
    cursor: pointer;
    color: #37a2d7;
}

.blue:hover {
    text-decoration: underline;
}

footer ul {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    color: #37a2d7;
    height: auto;
    align-items: center;
}

footer li {
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 1px solid #cccccc;
    cursor: pointer;
}

footer li:hover {
    text-decoration: underline;
}

.fa-circle{
    color: red;
    margin-left: 5px;
}